# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Oscar Franco
	email = ospfranco@gmail.com
	signingkey = /Users/osp/.ssh/id_ed25519.pub
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
[init]
	defaultBranch = main
[pull]
	rebase = true
[push]
	autoSetupRemote = true
